

ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:grey;
}

li{
	float:left;
}

li a
{
	display:block;
	color:navy;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

   li a:hover{
		background-color:DarkCyan ;

   }


.center {
    margin: left;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.footer {

position:fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
		}		

		img{

			float:right;
		}

div {
	position:absolute;
	text-align:center;
	float:left;
	display:block;

}