

body {
    background-color: navy;
}

h1 {
    color:  ;
    margin-left: 20px;
}

text1 {

	color: white;
	width: 400px;
	margin-right: 20px;
	float: inherit;
}

text2{
color: white;
	width: 400px;
	margin-right: 80px;
	float: inherit;

}

img {

float:left;

}

img1{

float:right;

}


div1 {

position: auto;
}
div{

	position: right;
	margin-left:10px;

}